h1{
	text-align: center;
	color: #0B5EF8
}

h2{
	color: #F4F80B;
}

body{
	background-color: #0BF4F8;
}

ol{
	color: #F88C0B;
}

ul{
	color: #F88C0B
}

img{
	width: 30%;
	border: 3px #0B90F8 dashed;
}